@model ICollection<Experience>
<section id="experience" class="section">
    <div class="container">
        <div class="section-title">
            <h4 class="text-uppercase text-center"><img src="~/content/images/icons/layers.png" alt="demo">Experience</h4>
        </div>
        <div id="timeline-experience">
            @foreach (var experience in Model.Select((value, i) => new { i, value }))
            { 
            <div class="timeline-block">
                <div class="timeline-dot"><h6>@experience.value.HighlightKey</h6></div>
                <div class="card timeline-content">
                    <div class="card-content">
                        <h6 class="timeline-title">@experience.value.Title</h6>
                        <div class="timeline-info">
                            <h6>
                                <small>@experience.value.Company</small>
                            </h6>
                            <h6>
                                <small>@experience.value.Year</small>
                            </h6>
                        </div>
                        <p>
                            @experience.value.Description
                        </p>
                        <a href="#" class="modal-dot" data-toggle="modal" data-target="#myModal-@experience.i">
                            <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</section>
<section>
    @foreach (var experience in Model.Select((value, i) => new { i, value }))
    {
        <div class="modal fade" id="myModal-@experience.i" tabindex="-1" role="dialog" aria-labelledby="myModalLabel-@experience.i">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header  text-center">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><i class="fa fa-close"></i></span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel-4">Experience at @experience.value.Company</h4>
                        <h6>
                            <small>@experience.value.Year</small>
                        </h6>
                    </div>
                    <div class="modal-body">
                        <span>
                            <h4><b>Position:</b></h4> @experience.value.Title<br>
                            <span>
                                <h4><b>Role:</b></h4> @experience.value.Role<br>
                                <h4><b>Product:</b></h4>  @experience.value.Project<br>
                                @experience.value.ProjectDescription<br>
                                <h4><b>Responsibilities:</b></h4>
                            </span>
                            <ul>
                                @Html.Raw(experience.value.Responsibilities)
                            </ul>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
    }
</section>