@model ProfileIdentity
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="Mohan Rao Full Stack Application Developer - Personal website and blog">
    <meta name="keywords" content="designer, web designer, ui designer, designer ct, mohan rao, mohan, rao, websites, designer chennai, front end, css, scss">
    <meta name="author" content="Mohan Rao">
    <title>Mohan Rao | Full Stack Application Developer | Chennai-India</title>
    <link rel="icon" href="~/content/images/site/favicon.ico">
    <link rel="apple-touch-icon" href="~/content/images/site/apple-touch-icon.png">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    @Styles.Render("~/Content/about")
</head>
<body>
    <div id="loading">
        <div id="loading-center">
            <div id="loading-center-absolute">
                <div class="box-holder animated bounceInDown">
                    <span class="load-box"><span class="box-inner"></span></span>
                </div>
                <div class="text-holder text-center">
                    <h2>@Model.Profiles.FirstOrDefault().FirstName</h2>
                    <h6>@Model.Title</h6>
                </div>
            </div>
        </div>
    </div>
    <header id="home">
        <nav id="theMenu" class="menu">
            <div id="menu-options" class="menu-wrap">
                <div class="logo-flat">
                    <img alt="personal-logo" class="img-responsive" src="~/content/images/profile/mohan-logo.png">
                </div>
                <br>
                <a href="#home"><i class="title-icon fa fa-user"></i>Home</a>
                <a href="#about"><i class="title-icon fa fa-dashboard"></i>About</a>
                <a href="#experience"><i class="title-icon fa fa-suitcase"></i>Experience</a>
                <a href="#skills"><i class="title-icon fa fa-sliders"></i>Skills</a>
                <a href="#education"><i class="title-icon fa fa-graduation-cap"></i>Education</a>
                <!-- <a href="#portfolios"><i class="title-icon fa fa-archive"></i>Portfolios</a> -->
                <a href="#interest"><i class="title-icon fa fa-heart"></i>Interest</a>
                @*<a href="/blog" target="_blank"><i class="title-icon fa fa-pencil-square"></i>Blog</a>*@
                <a href="#contact"><i class="title-icon fa fa-envelope"></i>Contact</a>
            </div>
            <div id="menuToggle">
                <div class="toggle-normal">
                    <i class="material-icons top-bar">remove</i>
                    <i class="material-icons middle-bar">remove</i>
                    <i class="material-icons bottom-bar">remove</i>
                </div>
            </div>
        </nav>
        <div class="header-background section"></div>
    </header>
    @Html.Partial("~/Views/Home/Intro.cshtml", Model)
   @Html.Partial("~/Views/Home/Skills.cshtml", Model)
    @Html.Partial("~/Views/Home/Experience.cshtml", Model.Experiences)
    @Html.Partial("~/Views/Home/Education.cshtml", Model.Educations)
    @Html.Partial("~/Views/Home/Interests.cshtml", Model)
    @Html.Partial("~/Views/Home/Contact.cshtml")
    <div id="scroll-top">
        <div id="scrollup"><i class="fa fa-angle-up"></i></div>
    </div>

    <footer>
        <div class="container">
            <p class="text-center">
                Designed and Managed by
                <a href="http://mohansglobe.com/" target="_blank">
                    <strong>Mohan Rao</strong>
                </a>
            </p>
        </div>
    </footer>
    <div id="color-palate" class="popout card hide">
        <div id="color-toggle" class="toggle text-center"><i class="fa fa-cog fa-spin"></i></div>
        <div class="colors text-center">
            <p class="text-center">Pick a Color</p>
            <ul>
                <li id="blue" class="color1"></li>
                <li id="teal" class="color2"></li>
                <li id="gray" class="color3"></li>
                <li id="green" class="color4"></li>
                <li id="purple" class="color5"></li>
                <li id="brown" class="color6"></li>
                <li id="red" class="color7"></li>
                <li id="pink" class="color8"></li>
            </ul>
            <p class="text-center">Blend & Dark</p>
            <ul>
                <li id="blue-blend" class="color1"></li>
                <li id="green-blend" class="color4"></li>
                <li id="dark_gray" class="color10"></li>
            </ul>
        </div>
    </div>
    @Scripts.Render("~/bundles/about")
</body>
</html>